
@media screen and (max-width:767px){
    /* .wapper{
        width:80%;
    } */

    .header{
        width:250px;
    }
    /*.main{
        width:400px;                                                                                                    
        height:100px;
        background-color:#141f40;
    }*/
    
    .right{
        width:100px;
    }
    
    .footer{
        width:250px;
    }
}



@media screen and (max-width:479px) {
    .clearfix::after{
        content:'';
        display:block;
        clear:both;
    }
    
    .header{
        width:150px;
    }
    /*.main{
        width:400px;
        height:100px;
        background-color:#141f40;
    }*/
    
    .right{
        width:150px;
    }
    
    .footer{
        width: 150px;
    }

}